.feedback-form {
  margin-top: 100px;
  padding: 50px 0;
  border-top: 1px solid rgba(28, 36, 47, 0.15);
  border-bottom: 1px solid rgba(28, 36, 47, 0.15);

  &__wrap {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
  }

  &__descrip {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.2;
    letter-spacing: -0.02em;
    color: #25292f;
    max-width: 35%;
  }

  &__input-wrap {

  }

  &__input {
    margin-right: 55px;
    width: 310px;
    padding: 15px 0 15px 15px;
    border: 1px solid rgba(28, 36, 47, 0.19);
    font-size: 15px;
    line-height: 1.5;

    &:focus-visible {
      outline: 0;
      border: 1px solid rgba(28, 36, 47, 0.5);
    }

    &::placeholder {
      font-size: 15px;
      line-height: 1.5;
      color: rgba(28, 36, 47, 0.54);
    }
  }
}
