-
  let staffItem = [
    {
      foto: "staff1.jpg",
      fio: "Владислав Григорьев",
      position: "Директор компании"
    },
    {
      foto: "staff2.jpg",
      fio: "Владислав Григорьев",
      position: "Директор компании"
    },
    {
      foto: "staff3.jpg",
      fio: "Владислав Григорьев",
      position: "Директор компании"
    },
    {
      foto: "staff4.jpg",
      fio: "Владислав Григорьев",
      position: "Директор компании"
    },
    {
      foto: "staff5.jpg",
      fio: "Владислав Григорьев",
      position: "Директор компании"
    }
  ]
