section.slider
  .slider__column
    img(src="./public/images/slider/block-slider.jpg").slider__img

  .slider__column
    .slider__wrap-descript
      h1.h1 Построим уютный дом вашей мечты
      p.slider__descript С гарантией 25 лет и фиксированной ценой на весь срок работы
      a(href="#").button Узнать стоимость


    .slider-wrap
      .progress-bar
        .slider__label

      .slider-header
        .slider-header__slide
          .slider-header__wrap-descript
            span.slider-header__title История переезда
            span.slider-header__name-people Анна и Георгий Воробьевы
          img(src="./public/images/slider/family-img1.jpg").slider-header__img
        .slider-header__slide
          .slider-header__wrap-descript
            span.slider-header__title История переезда
            span.slider-header__name-people Анна и Георгий Воробьевы
          img(src="./public/images/slider/family-img1.jpg").slider-header__img
        .slider-header__slide
          .slider-header__wrap-descript
            span.slider-header__title История переезда
            span.slider-header__name-people Анна и Георгий Воробьевы
          img(src="./public/images/slider/family-img1.jpg").slider-header__img
        .slider-header__slide
          .slider-header__wrap-descript
            span.slider-header__title История переезда
            span.slider-header__name-people Анна и Георгий Воробьевы
          img(src="./public/images/slider/family-img1.jpg").slider-header__img

