.houses-cost {
  margin-top: 75px;

  &__houses-wrap {
    display: flex;
    margin-top: 45px;
  }

  &__house1 {
    width: 45%;
  }
  &__house2 {
    width: 30%;
  }
  &__house3 {
    width: 25%;
  }
}
