section.houses-cost
  .container-wrap
    h2.heading Дома по стоимости
  .houses-cost__houses-wrap
    img(src='public/images/houses-cost/houses1.png').houses-cost__house1
    img(src='public/images/houses-cost/houses2.png').houses-cost__house2
    img(src='public/images/houses-cost/houses3.png').houses-cost__house3
