-
  let chooseUs = [
    {
      title: "7 лет строим для людей",
      descript: "Вы получаете экологичный дом из лучших материалов на рынке и по технологиям. Нам не стыдно общаться с клиентами через 2-3-5 лет после строительства дома и поддерживаем дружеские отношения"
    },
    {
      title: "Работа «под ключ»",
      descript: "Подбор участка, проект дома, строительство дома, оформление всех необходимых документов, дизайн помещений, ремонт и отделка, ландшафт и бассеин, подключение всех коммуникации к дому"
    },
    {
      title: "Проекты для жизни",
      descript: "Выполнены профессиональными архитекторами для удобства в реальной жизни. Вы получите удовольствие при переезде"
    }
  ]
