section.calc-cost.container-wrap
  h3.heading Расчитайте стоимость
  .feedback-form__wrap
    p.feedback-form__descrip Узнайте точную стоимость вашего проекта от специалиста с 14-ти летним стажем
    .feedback-form__input-wrap
      input(type='tel' placeholder='Ваш телефон').feedback-form__input
      button.button Заказать звонок
