-
  let footerLink1 = [
    {
      href: '#',
      title: 'Строительсво'
    },
    {
      href: '#',
      title: 'Проекты'
    },
    {
      href: '#',
      title: 'Услуги'
    },
    {
      href: '#',
      title: 'Галерея объектов'
    },
    {
      href: '#',
      title: 'Отзывы'
    },
    {
      href: '#',
      title: 'Контакты'
    }
  ]

  let footerLink2 = [
    {
      href: '#',
      title: 'Строительсво'
    },
    {
      href: '#',
      title: 'Проекты'
    },
    {
      href: '#',
      title: 'Услуги'
    },
    {
      href: '#',
      title: 'Галерея объектов'
    },
    {
      href: '#',
      title: 'Отзывы'
    },
    {
      href: '#',
      title: 'Контакты'
    }
  ]

  let footerLink3 = [
    {
      href: '#',
      title: 'Все контакты'
    },
    {
      href: '#',
      title: 'Политика конфиденциальности'
    },
    {
      href: '#',
      title: 'Карта сайта'
    }
  ]
