-
  let sliderBlog = [
    {
      img: 'slide1.jpg',
      caption: 'Причины переезда'
    },
    {
      img: 'slide2.jpg',
      caption: 'Купить земельный участок в Краснодаре'
    },
    {
      img: 'slide1.jpg',
      caption: 'Причины переезда'
    },
    {
      img: 'slide2.jpg',
      caption: 'Купить земельный участок в Краснодаре'
    }
  ]
