mixin socialMedia(data)
  a(href="#").social-media__item
    if data.icon === 'fb'
      img(src="./public/images/social-media/fb.png").social-media__img
    if data.icon === 'inst'
      img(src="./public/images/social-media/inst.png").social-media__img
    if data.icon === 'ytub'
      img(src="./public/images/social-media/ytub.png").social-media__img
    p.social-media__link-heading
      span.social-media__link-text= data.heading
    p.social-media__descript= data.descript
