body {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
}

img {
  max-width: 100%;
}

.container-wrap {
  max-width: 1340px;
  margin: 0 auto;

  @media only screen and (max-width: 959px) {
    max-width: 620px;
    margin: 0 auto;
  }

  @media only screen and (max-width: 479px) {
    max-width: 320px;
    margin: 0 auto;
  }

}

.heading {
  font-weight: 500;
  font-size: 36px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: #25292f;

  &_ondark-bg {
    color: #ffffff;
  }

  &__descript {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.2;
    letter-spacing: -0.02em;
    color: #25292f;
    max-width: 45%;
    margin-top: 50px;
  }
}

.button {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  background: linear-gradient(91.89deg, #C5000E 1.57%, #FB0000 95.62%), #C5000E;
  border-radius: 2px;
  border: 0;
  padding: 15px 50px;
  cursor: pointer;

  &:hover {
    background: linear-gradient(0deg, #C5000E 1.57%, #FB0000 95.62%), #C5000E;
  }
}

.feedback-form {
  margin-top: 100px;
  padding: 50px 0;
  border-top: 1px solid rgba(28, 36, 47, 0.15);
  border-bottom: 1px solid rgba(28, 36, 47, 0.15);

  &__wrap {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
  }

  &__descrip {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.2;
    letter-spacing: -0.02em;
    color: #25292f;
    max-width: 35%;

    &_ondark-bg {
      font-weight: normal;
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.03em;
      color: #ffffff;
    }
  }

  &__input-wrap {

  }

  &__input {
    margin-right: 55px;
    width: 310px;
    padding: 15px 0 15px 15px;
    border: 1px solid rgba(28, 36, 47, 0.19);
    font-size: 15px;
    line-height: 1.5;

    &:focus-visible {
      outline: 0;
      border: 1px solid rgba(28, 36, 47, 0.5);
    }

    &::placeholder {
      font-size: 15px;
      line-height: 1.5;
      color: rgba(28, 36, 47, 0.54);
    }

    &_ondark-bg {
      border: 1px solid rgba(255, 255, 255, 0.7);
      background: inherit;
      color: #ffffff;

      &:focus-visible {
        border: 1px solid rgba(255, 255, 255, 0.9);
      }

      &::placeholder {
        color: #ffffff;
      }
    }
  }
}
