section.form-webinar
  .container-wrap
    h2.heading.heading_ondark-bg Расчитайте стоимость
    .feedback-form__wrap
      p.feedback-form__descrip.feedback-form__descrip_ondark-bg Вебинар для тех, у кого есть вопросы по переезду и постройке дома в Краснодарском крае
      .feedback-form__input-wrap
        input(type='tel' placeholder='Ваш email').feedback-form__input.feedback-form__input_ondark-bg
        button.button Оставить заявку
