.projects {
  margin-top: 85px;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__wrapper-items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 50px;
  }

  &__wrapper-button {
    text-align: center;
  }
}

.filter {
  display: flex;

  &__button {
    font-weight: 500;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #000000;
    text-decoration: none;
    margin-right: 80px;

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      color: #c5000e;
    }
  }
}

.hover-wrapper {
  position: relative;
  width: 31%;

  &:hover {
    height: 500px;
  }
}

.project-item {
  margin-bottom: 55px;
  cursor: pointer;

  &:hover {
    outline: 1px solid #dfdfdf;
    box-shadow: 0 0 4px 3px rgba(223, 223, 223, 1);
    height: auto;
  }

  &__descript_hover {
    z-index: 999;
    margin-top: 30px;
    padding: 0 25px;
    position: absolute;
    opacity: 0;
    top: -30px;
  }


  &:hover &__descript {
    display: none;
  }

  &:hover &__descript_hover {
    background: #fff;
    z-index: 999;
    top: 0;
    opacity: 1;
    transition: all 0.5s;
    position: relative;
  }

  &__img {
    width: 100%;
  }

  &__descript {
    z-index: 999;
    margin-top: 30px;
    padding: 0 25px;
    position: relative;

    &_top {
      display: flex;
      justify-content: space-between;
    }

    &_bottom {
      text-align: right;
    }
  }

  &__heading {
    font-weight: 500;
    font-size: 36px;
    line-height: 44px;
  }

  &__descript-text {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #c5000e;

    &_indent {
      margin-left: 30px;
    }
  }
}
