.projects {
  margin-top: 85px;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include media(1024px) {
      display: block;
    }
  }

  &__wrap-descript {
    display: none;

    @include media(1024px) {
      display: flex;
      justify-content: space-between;
    }
  }

  &__wrapper-items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 50px;
  }

  &__wrapper-button {
    text-align: center;
  }
}

.filter {
  display: flex;

  @media only screen and (max-width: 1024px) {
    display: none;
  }

  &__button {
    font-weight: 500;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #000000;
    text-decoration: none;
    margin-right: 80px;

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      color: #c5000e;
    }
  }
}

.hover-wrapper {
  position: relative;
  width: 31%;

  @include media(1024px) {
    width: 45%;
  }

  @include media(565px) {
    width: 100%;
  }

  @include min-media(1024px) {
    &:hover {
      height: 200px;
    }
  }
}

.project-item {
  margin-bottom: 55px;
  cursor: pointer;

  @include min-media(1024px) {
    &:hover {
      outline: 1px solid #dfdfdf;
      box-shadow: 0 0 4px 3px rgba(223, 223, 223, 1);
      height: auto;
    }
  }

  &__descript_hover {
    z-index: 999;
    margin-top: 30px;
    padding: 0 25px 35px;
    position: absolute;
    opacity: 0;
    top: -30px;
  }

  @include min-media(1024px) {
    &:hover &__descript {
      display: none;
    }

    &:hover &__descript_hover {
      background: #fff;
      top: 0;
      opacity: 1;
      transition: all 0.5s;
      position: relative;
      z-index: 1000;
    }
  }

  &__img {
    width: 100%;

    &_hover {
      display: none;
      width: 100%;
    }
  }

  @include min-media(1024px) {
    &:hover &__img {
      display: none;
    }

    &:hover &__img_hover {
      display: block;
    }
  }

  &__descript {
    margin-top: 30px;
    padding: 0 25px;
    position: relative;

    &_top {
      display: flex;
      justify-content: space-between;

      @include media(1024px) {
        align-items: center;
      }
    }

    &_middle {
      margin-top: 30px;
    }

    &_bottom {
      text-align: right;

      &_mobile {
        @include media(1024px) {
          display: flex;
          justify-content: space-between;
          margin-top: 20px;
        }
      }

      &_hover {
        margin-top: 40px;
        display: flex;
        justify-content: space-between;
      }
    }
  }

  &__heading {
    font-weight: 500;
    font-size: 36px;
    line-height: 44px;

    @include media(1024px) {
      font-size: 24px;
      line-height: 29px;
    }

    @include media(565px) {
      font-size: 20px;
    }
  }

  &__descript-text {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: rgba(28, 36, 47, 0.54);

    &_indent {
      margin-left: 30px;
    }

    &_hover {
      display: flex;
      justify-content: space-between;
      margin-bottom: 5px;
    }
  }

  &__descript-link {
    font-weight: 500;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #c5000e;
    text-decoration: none;

    @include media(1024px) {
      font-size: 10px;
      line-height: 2.4;
    }

    &::after {
      content: url("./public/images/projects/arrow-link.png");
      margin-left: 10px;
    }

    &_mobile {
      display: none;

      @include media(1024px) {
        display: block;
      }
    }
  }

  &__descript-price {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #c5000e;
  }
}

.line-dotter {
  border-bottom: 1px dotted black;
  flex-grow: 1;
}

.button-filters {
  background: transparent;
  border: 0;

  &:hover {
    color: #c5000e;
  }
}
