include mixins
include variables

section.projects.container-wrap

  .projects__header
    h2.heading Проекты
    .filter
      for item in filterItem
        a(href=item.href).filter__button= item.name

  .projects__wrapper-items
    for item in pojectItem
      +pojectItem(item)

  .projects__wrapper-button
    button.button Показать еще
