include mixins
include variables

section.projects.container-wrap

  //- Шапка проектов
  .projects__header
    h2.heading Проекты
    .projects__wrap-descript
      p.heading__descript С 2014 года мы построили 324 дома для семей края
      button.button-filters
        img(src='./public/images/projects/filters.svg')

    .filter
      for item in filterItem
        a(href=item.href).filter__button= item.name

  //- Карточки проектов
  .projects__wrapper-items
    for item in pojectItem
      +pojectItem(item)

  //- Кнопка
  .projects__wrapper-button
    button.button Показать еще
