-
  let pojectItem = [
    {
      img : "project2.png",
      name : "A110",
      square : "221.5 м",
      rooms : "7 комнат",
      price : "от 6.500.000 руб"
    },
    {
      img: "project2.png",
      name: "A90",
      square: "221.5 м",
      rooms: "7 комнат",
      price: "от 6.500.000 руб"
    },
    {
      img: "project3.png",
      name: "A115",
      square: "221.5 м",
      rooms: "7 комнат",
      price: "от 6.500.000 руб"
    },
    {
      img: "project4.png",
      name: "A90",
      square: "221.5 м",
      rooms: "7 комнат",
      price: "от 6.500.000 руб"
    },
    {
      img: "project5.png",
      name: "A115",
      square: "221.5 м",
      rooms: "7 комнат",
      price: "от 6.500.000 руб"
    },
    {
      img: "project6.png",
      name: "A115",
      square: "221.5 м",
      rooms: "7 комнат",
      price: "от 6.500.000 руб"
    }
  ]

  let filterItem = [
    {href: '#', name: 'Площадь'},
    {href: '#', name: 'Архитектурный стиль'},
    {href: '#', name: 'Количество спален'},
    {href: '#', name: 'Количество комнат'},
  ]
