-
  let pojectItem = [
    {
      img : "project1.png",
      name : "A90",
      square : "221.5 м",
      rooms : "7 комнат",
      price : "от 6.500.000 руб"
    },
    {
      img: "project1.png",
      name: "A90",
      square: "221.5 м",
      rooms: "7 комнат",
      price: "от 6.500.000 руб"
    },
    {
      img: "project1.png",
      name: "A90",
      square: "221.5 м",
      rooms: "7 комнат",
      price: "от 6.500.000 руб"
    },
    {
      img: "project1.png",
      name: "A90",
      square: "221.5 м",
      rooms: "7 комнат",
      price: "от 6.500.000 руб"
    },
    {
      img: "project1.png",
      name: "A90",
      square: "221.5 м",
      rooms: "7 комнат",
      price: "от 6.500.000 руб"
    },
    {
      img: "project1.png",
      name: "A90",
      square: "221.5 м",
      rooms: "7 комнат",
      price: "от 6.500.000 руб"
    }
  ]
