include ../node_modules/bempug/index
-BEMPUG.modifier = '_';

doctype html
html
  include blocks/head/head
  body
    include blocks/header/header
      //- блок со слайдером уточнить
    include blocks/slider/slider
    include blocks/projects/projects
      //- houses-cost уточнить
    include blocks/houses-cost/houses-cost
    include blocks/completed-projects/completed-projects
    include blocks/feedback-form/feedback-form
    include blocks/social-media/social-media
