include variables

header.header.container-wrap
  .header__logo
    a(href='/')
      img(src='public/images/logo.png')
    p.header__logo-descript
      |Строительство домов
      br
      |и коттеджей под ключ
      br
      |в Краснодарском крае
  .header__menu
    for link in linkMenu
      a(href=link.pageUrl).header__link= link.pageName

    a(href='tel:88007700133').header__link.header__link_tel 8 (800) 770-01-33
      span.header__tel-inscript Заказать звонок
