include variables

header.header.container-wrap
  a(href="tel:88007700133").header__tel-icon
    include ../../public/images/ph.svg

  //- Логотип
  .header__logo
    a(href='/')
      img(src='public/images/logo.png')
    p.header__logo-descript
      |Строительство домов
      br
      |и коттеджей под ключ
      br
      |в Краснодарском крае

  //- Меню
  .header__menu
    .header__link.header__link_drop-menu Строительство
      div.sub-menu
        a(href='#').header__link Меню
        a(href='#').header__link Меню
        a(href='#').header__link Меню
        a(href='#').header__link Меню
        a(href='#').header__link Меню
        a(href='#').header__link Меню

    for link in linkMenu
      a(href=link.pageUrl).header__link= link.pageName

  //- Телефон
  .telephon-wrapper
    a(href='tel:88007700133').header__tel 8 (800) 770-01-33
    span(data-modal-window='modal1').header__tel-inscript Заказать звонок

  //- Бургер меню
  button.burger-menu
