include variables
include mixins


section.completed-projects
  .container-wrap
    h2.heading Выполненные проекты
    p.heading__descript 6 семей заселятся уже в этом месяце!
  .slider-completed-project
    for item in sliderCompletedProject
      +sliderCompletedProject(item)

    //div
    //  img(src='./public/images/completed-projects/slider-img1.jpg').slider-completed-project__img
    //
    //div
    //  img(src='./public/images/blog/slide2.jpg').slider-completed-project__img
    //
    //div
    //  img(src='./public/images/blog/slide2.jpg').slider-completed-project__img
