-
  let sliderCompletedProject = [
    {
      img: 'slider-img1.jpg'
    },
    {
      img: 'slider-img1.jpg'
    },
    {
      img: 'slider-img1.jpg'
    }
  ]

  let sliderCompletedProjectNav = [
    {
      img: 'author1.png',
      text: 'But I must explain to you how all this mistaken idea of denouncing pleasure',
      author: 'Александр Герасимов'
    },
    {
      img: 'author1.png',
      text: 'But I must explain to you how all this mistaken idea of denouncing pleasure',
      author: 'Александр Герасимов'
    },
    {
      img: 'author1.png',
      text: 'But I must explain to you how all this mistaken idea of denouncing pleasure',
      author: 'Александр Герасимов'
    }
  ]
